<form
  class="form-horizontal"
  autocomplete="off"
  #editProductForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'EditProduct' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name">
            {{ "Name" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              required
              minlength="2"
              maxlength="32"
              [(ngModel)]="product.name"
              #nameModel="ngModel"
            />
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="displayName">
            {{ "Quantity" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="quantity"
              id="quantity"
              required
              minlength="2"
              maxlength="32"
              [(ngModel)]="product.quantity"
              #displayNameModel="ngModel"
            />
          </div>
        </div>
        
      </tab>
      
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editProductForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
